{% extends 'base.html' %}

{% block title %} Team {% endblock title %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

{% block content %}

<!-- Team -->

<section id="team" style="">
    <h5 class="section-title h2"><i>travel.uz </i>jamoasi</h5>
    <div class="container">
        <div class="row" style="padding-left:220px">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card shadow">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="card image"></p>
                                    <h4 class="card-title">Bekzod Xudayberdiyev</h4>
                                    <p class="card-text">Python,Django developer.</p>
                                    <a href="" ><i class="fas fa-code"></i></a>

                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card shadow">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Haqida</h4>
                                    <p class="card-text">Tug'ilgan joy: Samarqand viloyati<br>yoshim 21 da,hozirda TATU 3-kurs talabasi.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://t.me/bxudayberdiyev">
                                                <i class="fab fa-telegram"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="https://github.com/XudayberdiyevB" class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fab fa-github"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="https://bekzodcv.netlify.app/"><i class="fas fa-globe"></i></a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card shadow" >
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://avatars.githubusercontent.com/u/69134199?v=4" alt="card image"></p>
                                    <h4 class="card-title">Shaxzod To'lisov</h4>
                                    <p class="card-text">Backend developer</p>
                                    <a href="" ><i class="fas fa-code"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Haqida</h4>
                                    <p class="card-text">Tug'ilgan joy: Buxoro viloyati,yoshim 21 da,hozirda TATU 3-kurs talabasi.
                                        <br><br>Men dasturchi bo`lish uchun har qanday to`siqlarni yengib o`tishga tayyorman</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a href="https://twitter.com/Shaxzad99" class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>

                                        <li class="list-inline-item">
                                            <a href="https://t.me/Shaxzad99" class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fab fa-telegram"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="https://github.com/ShaxaDev" class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fab fa-github"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="https://shaxzod.netlify.app/" class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-globe"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
    </div>
</section>
<!-- Team -->

{% endblock content %}